
:root {
    --almost-black: #151515;
}

.almost-black-bg {background-color: var(--almost-black);}
.white {color: white !important;}


body {
    font-family: 'Outfit', sans-serif;
}

/* our location */
.mag {
    gap: 32px;
}
.modernartgallery {
    font-size: 50px;
    line-height: 45px;
}
.modernartgallery.position {
    position: absolute;
    top: 190px;
    right: 828px;
    z-index: 10;
    color: #fff;
    text-shadow: 0 0 20px black;
}
/* your day at the gallery */
.headingDefault {
    color: var(--almost-black, #151515);
    font-family: Big Shoulders Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px; /* 90% */
    text-transform: uppercase;
    margin: 0;
}
.footerHeading {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
}
/* beinspired section */
.grid {
    display: grid;
}

/* footer */
.footerp {
    max-width: 280px;
}
