
:root {
    --almost-black: #151515;
    --gold: #D5966C;
}

.almost-black {color: var(--almost-black) !important;}
.almost-black-bg {background-color: var(--almost-black);}
.gold {color: var(--gold);}
.gold-bg {background-color: var(--gold);}
.white {color: white !important;}

.baseline {
    align-self: baseline;
}

body {
    font-family: 'Outfit', sans-serif;
}

/* our location */
.mag {
    gap: 32px;
}
.modernartgallery {
    font-size: 50px;
    line-height: 45px;
}
.modernartgallery.position {
    position: absolute;
    top: 190px;
    right: 828px;
    z-index: 10;
    color: #fff;
    text-shadow: 0 0 20px black;
}
/* your day at the gallery */
.headingDefault {
    color: var(--almost-black, #151515);
    font-family: Big Shoulders Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px; /* 90% */
    text-transform: uppercase;
    margin: 0;
}
.footerHeading {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
}
/* beinspired section */
.grid {
    display: grid;
}

/* footer */
.footerp {
    max-width: 280px;
}



/* location.html */
#map { height: 550px; }
.leaflet-tile {filter: grayscale(100%);}
.positionedbutton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
.ourlocationheading {
    color: var(--white, #FFF) !important;
    font-family: Big Shoulders Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px; /* 90% */
    text-transform: uppercase;
}
.street {
    font-family: Big Shoulders Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 100% */
    text-transform: uppercase;
}